#doc{background:#fff url(../images/bg_1.jpg) no-repeat center 0;min-width:800px;}
.fd{background:#fff;}
.hd{height:70px;}
h1{display:inline-block;background:url(../images/logo.jpg) no-repeat 0 0; height:69px; width:130px;border-radius:3px;margin-bottom:-124px;}



.player{background:#3A3A3A; height:70px;}

.channel-list{width:130px;margin-top:120px; }
.channel-item{background:rgba(59,39,51,.9);margin:5px 0; line-height:2.5em;color:#fff;cursor:pointer;text-align:center;position:relative;}
.channel-item:hover,.channel-list .selected{background:rgba(255,255,255,.9);color:#000;}
.channel-item .s{display:inline-block;border:10px dashed transparent;border-left:10px solid transparent;position:absolute;right:-20px; top:10px;}
.channel-item:hover .s, .selected .s{border-left:10px solid rgba(255,255,255,.9);}

.play-info{text-align:center;padding:30px 0 50px 0;}
.play-tit{color:#F1726B;}
.play-auther{color:#B3B3B3;font-size:0.8em;margin-top:20px;}
.world{background:rgba(255,255,255,.9);padding:10px;margin:50px 0;line-height:1.8em;}
.world p{ text-indent:2em;}


.copyright{bottom:0;border-top:1px dashed #EAEAEA; height:50px;width:100%;padding-top:10px;font-size:0.8em;}
.copyright a{color:#393939;text-decoration:none;}
.copyright a:hover{text-decoration:underline;}